* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

/* Navigation Bar Start*/
nav > ul {
  background: linear-gradient(
    90deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(294, 100%, 55%, 1) 100%
  );
  color: white;
  margin: 0;
  padding: 20px 10px;
  font-size: 30px;
  border: 1px solid white;
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

ul > li {
  margin: 5px;
}

li > a {
  text-decoration: none;
  transition: font-size 1s, color 2s;
}

li > a:hover {
  font-size: 32px;
  color: white;
}
/* Navigation Bar End*/

.header-text {
  margin: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 2;
  flex-wrap: wrap;
}

/* Background Image Start*/
.home-page-banner-image {
  height: 400px;
  background-image: linear-gradient(
      90deg,
      hsla(0, 0%, 20%, 0.6) 20%,
      hsla(0, 0%, 20%, 0.6) 20%
    ),
    url('./images/home-page-header.jpg');

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% 70%;
}

.about-page-banner-image {
  height: 400px;
  background-image: linear-gradient(
      90deg,
      hsla(0, 0%, 20%, 0.6) 20%,
      hsla(0, 0%, 20%, 0.6) 20%
    ),
    url('./images/about-me-banner.jpeg');

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% 70%;
}

.contact-page-banner-image {
  height: 400px;
  background-image: linear-gradient(
      90deg,
      hsla(0, 0%, 20%, 0.6) 20%,
      hsla(0, 0%, 20%, 0.6) 20%
    ),
    url('./images/contact-banner.jpeg');

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% 70%;
}

.shop-page-banner-image {
  border-bottom: 2px solid black;
  height: 400px;
  background-image: linear-gradient(
      90deg,
      hsla(0, 0%, 20%, 0.6) 20%,
      hsla(0, 0%, 20%, 0.6) 20%
    ),
    url('./images/shop-banner.jpeg');

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% 70%;
}
/* Background Image End*/

/*HomePage Body Start*/
.home-page-content-container {
  max-width: 900px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgba(139, 131, 250, 0.973);
  color: rgba(240, 248, 255, 0.712);
  margin: 50px auto;
  padding: 10px 20px;
  letter-spacing: 1.2px;
  line-height: 1.4;
}
/*HomePage Body End*/

/* About Body Start */
.about-page-content-container {
  max-width: 900px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgba(139, 131, 250, 0.973);
  color: rgba(240, 248, 255, 0.712);
  margin: 50px auto;
  padding: 10px 20px;
  letter-spacing: 1.2px;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-text {
  text-align: center;
  margin: 10px 20px;
}

.flex-portrait {
  display: inline-block;
  width: 300px;
  border: 2px solid white;
  border-radius: 50%;
}
/* About Body End */

/* Contact Body Start */

.contact-page-content-container {
  max-width: 900px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgba(139, 131, 250, 0.973);
  color: rgba(240, 248, 255, 0.712);
  margin: 50px auto;
  padding: 10px 20px;
  letter-spacing: 1.2px;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact-form {
  border: 1px solid white;
  border-radius: 15px;
  margin: 10px;
  padding: 20px 10px;
  color: rgba(0, 0, 0, 0.329);
  background: rgba(211, 203, 203, 0.801);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.form-button {
  margin: 0 auto;
}

.icon {
  font-size: 60px;
  margin: 20px 0;
}

.icon:hover {
  animation-name: icon-rotation;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

@keyframes icon-rotation {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

/* Contact Body End */

/* Shop Body Start */
.shop-page-content-container {
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgba(139, 131, 250, 0.973);
  color: rgba(240, 248, 255, 0.712);
  margin: 50px auto;
  padding: 10px 20px;
  letter-spacing: 1.2px;
  line-height: 1.4;
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shop-page-content-container > li {
  list-style: none;
}

li > img {
  border-radius: 20px;
  border: 1px solid white;
  width: 200px;
  height: 300px;
  object-fit: cover;
  vertical-align: bottom;
  transition: width 2s, box-shadow 2s;
}

li > img:hover {
  width: 220px;

  box-shadow: 0px 0px 140px 26px rgba(0, 0, 0, 0.57);
}

li > p {
  text-align: center;
}

/* Shop Body End */

/* Footer Start */
footer {
  background: linear-gradient(
    90deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(294, 100%, 55%, 1) 100%
  );
  color: white;
  margin: 0;
  padding: 5px 5px;
  font-size: 30px;
  border-top: 1px solid rgb(0, 0, 0);
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
/* Footer End */

/* Media Queries */
@media (max-width: 500px) {
  nav > ul {
    font-size: 20px;
    padding: 10px 5px;
  }

  .header-text {
    font-size: 24px;
  }

  .homepage-banner-image {
    height: 200px;
  }

  footer > p {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
  }
}
